.frame-493 .image-1 {
    background: url('../../assets/img/images/Image1.png');
    width: 76px;
    height: 48px;
  }
  .frame-493 .frame-2 {
    position: relative;
    display: flex;
    width: 76px;
    height: 48px;
    box-sizing: border-box;
  }
  .frame-493 .js-833-j-63-fjsw-logo-jsw-logo-download-vector-11 {
    background: url('../../assets/img/images/Js833J63FjswLogoJswLogoDownloadVector1.png') 50% / cover no-repeat;
    position: absolute;
    left: 0px;
    top: 3.8px;
    width: 78px;
    height: 36.7px;
  }
  .frame-493 .jsw-vaani-logo {
    position: relative;
    display: flex;
    width: 152px;
    height: 48px;
    box-sizing: border-box;
  }
  .frame-493 .near-me-1 {
    margin-right: 4px;
    width: 32px;
    height: 32px;
  }
  .frame-493 .baranagar {
    margin: 7.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .frame-107 {
    opacity: 0.8;
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    padding-right: 0.4px;
    box-sizing: border-box;
  }
  .frame-493 .group-237651 {
    width: 32px;
    height: 28.7px;
  }
  .frame-493 .frame-479 {
    margin: 1.7px 16px 1.7px 0;
    display: flex;
    width: 32px;
    height: 28.7px;
    box-sizing: border-box;
  }
  .frame-493 .account-circle {
    width: 32px;
    height: 32px;
  }
  .frame-493 .frame-32 {
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    width: 80px;
    box-sizing: border-box;
  }
  .frame-493 .menu {
    width: 32px;
    height: 32px;
  }
  .frame-493 .frame-59 {
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .frame-493 .frame-105 {
    margin: 0 16px 12px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1408px;
    box-sizing: border-box;
  }
  .frame-493 .ellipse-20 {
    filter: blur(101.8px);
    position: absolute;
    top: 2244px;
    right: -296px;
    width: 621px;
    height: 624px;
  }
  .frame-493 .ellipse-21 {
    filter: blur(101.8px);
    position: absolute;
    top: 3639px;
    right: -126px;
    width: 694px;
    height: 460px;
  }
  .frame-493 .ellipse-17 {
    filter: blur(145.1px);
    width: 599px;
    height: 597px;
  }
  .frame-493 .frame-484 {
    position: absolute;
    left: -231px;
    bottom: 134px;
    display: flex;
    width: 599px;
    height: 597px;
    box-sizing: border-box;
  }
  .frame-493 .ellipse-18 {
    filter: blur(101.8px);
    position: absolute;
    left: 0px;
    top: 1002px;
    width: 961px;
    height: 966px;
  }
  .frame-493 .js-833-j-63-fjsw-logo-jsw-logo-download-vector-1 {
    background: url('../../assets/img/images/Js833J63FjswLogoJswLogoDownloadVector1.png') 50% / cover no-repeat;
    margin-bottom: 143.3px;
    align-self: flex-start;
    width: 223.6px;
    height: 101.5px;
  }
  .frame-493 .vector-2 {
    margin-bottom: 0.1px;
    width: 61.5px;
    height: 111.1px;
  }
  .frame-493 .container-6 {
    margin-top: 0.6px;
    width: 58.6px;
    height: 110.7px;
  }
  .frame-493 .container-1 {
    margin: 0 337.4px 224.2px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 358.5px;
    box-sizing: border-box;
  }
  .frame-493 .vector-3 {
    margin: 6px 8px 6px 0;
    width: 32px;
    height: 32px;
  }
  .frame-493 .english {
    margin: 0 9.7px 3px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Noto Sans Bengali';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .expand-more {
    width: 24px;
    height: 24px;
  }
  .frame-493 .frame-28 {
    border-radius: 45px;
    background: #2744A0;
    display: flex;
    flex-direction: row;
    padding: 12px 12px 8px 0;
    width: 139px;
    box-sizing: border-box;
  }
  .frame-493 .frame-117 {
    margin-bottom: 28px;
    display: flex;
    flex-direction: row;
    width: 179px;
    height: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .chat-typing-svgrepo-com {
    margin-top: 12px;
    width: 60px;
    height: 60px;
  }
  .frame-493 .container-8 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    width: 757px;
    box-sizing: border-box;
  }
  .frame-493 .frame-62 {
    border-radius: 16px;
    background: url('../../assets/img/images/Frame62.png') 50% / cover no-repeat;
    margin-bottom: 137px;
    display: flex;
    flex-direction: column;
    padding: 112.8px 24px 81px 48.6px;
    width: 1400px;
    box-sizing: border-box;
  }
  .frame-493 .lady-waiting-for-cab-after-vegetable-shopping-21942220 {
    position: absolute;
    top: -143.1px;
    right: -462.7px;
    width: 1259.2px;
    height: 989.3px;
  }
  .frame-493 .frame-57 {
    position: relative;
    width: 337px;
    height: 264.7px;
  }
  .frame-493 .join-our-family-of-women-entrepreneurs {
    margin-bottom: 12px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .container {
    margin-right: 9.6px;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 48px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .and-counting {
    margin: 11.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .frame-68 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .frame-69 {
    margin: 0 14.8px 27px 0;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .register {
    margin: 0 0.7px 10px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 24px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .to-join-as-community-partner {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .frame-66 {
    box-shadow: var(--shadows-light-theme-elevation-02, 0px 1px 2px 0px rgba(35, 35, 47, 0.06)), var(--shadows-light-theme-elevation-02, 0px 4px 8px 0px rgba(35, 35, 47, 0.08));
    border-radius: 4px 24px 4px 24px;
    background: #4798EF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    width: 511px;
    height: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .frame-70 {
    display: flex;
    width: 511px;
    box-sizing: border-box;
  }
  .frame-493 .frame-71 {
    margin: 40.7px 0 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .frame-493 .frame-83 {
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .frame-493 .vector-71 {
    margin: 0 0px 2.4px 0px;
    align-self: flex-start;
    width: 32px;
    height: 32px;
  }
  .frame-493 .vector-70 {
    width: 1120px;
    height: 41.6px;
  }
  .frame-493 .group-237655 {
    position: absolute;
    left: 50%;
    bottom: 0px;
    translate: -50% 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .frame-493 .frame-84 {
    position: relative;
    margin: 0 140px;
    padding: 0 32px 32px 32px;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .container-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .frame-493 .collaborate-with-us-as-apartner {
    margin-bottom: 12px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .container-1 {
    margin-right: 11.1px;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 48px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .and-counting-1 {
    margin: 11.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .frame-681 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .frame-691 {
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .register-1 {
    margin: 0 0.7px 10px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 24px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .to-join-as-community-partner-1 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .frame-661 {
    box-shadow: var(--shadows-light-theme-elevation-02, 0px 1px 2px 0px rgba(35, 35, 47, 0.06)), var(--shadows-light-theme-elevation-02, 0px 4px 8px 0px rgba(35, 35, 47, 0.08));
    border-radius: 4px 24px 4px 24px;
    background: #4798EF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    width: 511px;
    box-sizing: border-box;
  }
  .frame-493 .frame-72 {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .frame-493 .small-team-discussing-ideas-21942200 {
    width: 776px;
    height: 609.7px;
  }
  .frame-493 .frame-67 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    width: 776px;
    height: 609.7px;
    box-sizing: border-box;
  }
  .frame-493 .frame-85 {
    position: relative;
    padding: 235px 0 182.8px 0;
    box-sizing: border-box;
  }
  .frame-493 .vector-144 {
    margin: 0 0px 2.4px 0px;
    width: 32px;
    height: 32px;
  }
  .frame-493 .vector-143 {
    width: 1120px;
    height: 41.6px;
  }
  .frame-493 .group-237656 {
    position: absolute;
    left: 0px;
    bottom: 118.8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .frame-493 .frame-86 {
    position: absolute;
    right: 29px;
    bottom: 171.9px;
    padding-left: 87px;
    box-sizing: border-box;
  }
  .frame-493 .frame-103 {
    position: relative;
    margin: 0 20px 32px 20px;
    display: flex;
    width: 1726px;
    height: 1968px;
    box-sizing: border-box;
  }
  .frame-493 .india-is-at-the-cusp-of-atransformational-journey-to-become-the-worlds-third-largest-economy-by-2030-however-this-growth-must-be-inclusive-and-equitable-benefitting-all-members-of-the-community-this-growth-momentum-is-fuelled-by-our-demographic-dividend-65-of-our-population-is-under-the-age-of-35-that-is-slated-to-grow-over-the-next-two-decades-as-our-share-of-the-working-age-population-reaches-59-of-our-total-population-it-is-important-that-all-our-constituents-across-geographies-and-gender-participate-and-contribute-to-this-economic-advancement-however-as-per-astudy-233-million-rural-women-of-the-working-age-population-are-out-of-the-workforce-this-corroborates-abroader-fact-that-womens-contribution-to-the-countrys-gdp-is-low-at-18-compared-to-other-countries-such-as-japanat-33-and-chinaat-41 {
    margin: 0 169px 54px 169px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
  }
  .frame-493 .frame-37 {
    border-radius: 2px 16px 2px 16px;
    background: url('../../assets/img/images/Frame490.jpeg') 50% / cover no-repeat, linear-gradient(#FFFFFF, #FFFFFF);
    margin-bottom: 16px;
    width: 352px;
    height: 209px;
  }
  .frame-493 .market-linkages {
    margin-bottom: 16px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .lorem-ipsum-dolor-sit-amet-consectetur-odio-risus-turpis-diam-risus-commodo-urna-magnis-enim-sed-dolor-ullamcorper-est-nibh-nisl-pulvinar-tortor-egestas-id-lorem-ipsum-dolor-sit-amet-consectetur-odio-risus-turpis-diam-risus-commodo-urna-magnis-enim-sed-dolor-ullamcorper-est-nibh-nisl-pulvinar-tortor-egestas-id {
    margin-right: 11px;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .frame-34 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .frame-493 .frame-371 {
    border-radius: 2px 16px 2px 16px;
    background: url('../../assets/img/images/Frame37.png') 50% / cover no-repeat;
    margin-bottom: 16px;
    width: 352px;
    height: 209px;
  }
  .frame-493 .financial-assistance {
    margin-bottom: 16px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .lorem-ipsum-dolor-sit-amet-consectetur-odio-risus-turpis-diam-risus-commodo-urna-magnis-enim-sed-dolor-ullamcorper-est-nibh-nisl-pulvinar-tortor-egestas-id-lorem-ipsum-dolor-sit-amet-consectetur-odio-risus-turpis-diam-risus-commodo-urna-magnis-enim-sed-dolor-ullamcorper-est-nibh-nisl-pulvinar-tortor-egestas-id-1 {
    margin-right: 11px;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .frame-35 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .frame-493 .frame-372 {
    border-radius: 2px 16px 2px 16px;
    background: url('../../assets/img/images/Frame371.jpeg') 50% / cover no-repeat, linear-gradient(#FFFFFF, #FFFFFF);
    margin-bottom: 16px;
    width: 352px;
    height: 209px;
  }
  .frame-493 .mentor-connects {
    margin-bottom: 16px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .lorem-ipsum-dolor-sit-amet-consectetur-odio-risus-turpis-diam-risus-commodo-urna-magnis-enim-sed-dolor-ullamcorper-est-nibh-nisl-pulvinar-tortor-egestas-id-lorem-ipsum-dolor-sit-amet-consectetur-odio-risus-turpis-diam-risus-commodo-urna-magnis-enim-sed-dolor-ullamcorper-est-nibh-nisl-pulvinar-tortor-egestas-id-2 {
    margin-right: 11px;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .frame-36 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .frame-493 .frame-42 {
    margin: 0 160px 187px 160px;
    display: flex;
    flex-direction: row;
    column-gap: 32px;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .ellipse-19 {
    filter: blur(101.8px);
    margin: 527px 50px 0 0;
    width: 325px;
    height: 326px;
  }
  .frame-493 .container-4 {
    margin: 0 355px 154px 0;
    width: 696px;
    height: 699px;
  }
  .frame-493 .container-2 {
    margin-bottom: 4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 48px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .partners-onboarded {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .frame-682 {
    margin-bottom: 34px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .container-3 {
    margin-bottom: 4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 48px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .entrepreneurs-onboarded {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .frame-90 {
    margin-bottom: 34px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .container-4 {
    margin-bottom: 4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 48px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .states-covered {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .frame-91 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .frame-114 {
    margin: 0 24px 32px 24px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .register-2 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 24px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .frame-662 {
    box-shadow: var(--shadows-light-theme-elevation-02, 0px 1px 2px 0px rgba(35, 35, 47, 0.06)), var(--shadows-light-theme-elevation-02, 0px 4px 8px 0px rgba(35, 35, 47, 0.08));
    border-radius: 4px 24px 4px 24px;
    background: #4798EF;
    display: flex;
    padding: 12px 0.2px 12px 0;
    width: 480px;
    box-sizing: border-box;
  }
  .frame-493 .frame-113 {
    margin: 93.5px 0 367.5px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .frame-493 .container-7 {
    margin: 0 150px 15px 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .frame-490 {
    background: url('../../assets/img/images/Frame490.jpeg');
    margin-right: 35px;
    width: 288px;
    height: 436px;
  }
  .frame-493 .vaani-helped-me-find-new-possibilities-for-my-business {
    margin-bottom: 0px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    color: #FFFFFF;
  }
  .frame-493 .vector-154 {
    margin-bottom: 4px;
    align-self: flex-start;
    width: 25px;
    height: 25px;
  }
  .frame-493 .majnu-gayen {
    margin-bottom: 4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .years-old {
    margin-bottom: 4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .shop-owner-in-mayanagar {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .frame-79 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .frame-488 {
    margin: 73px 52.5px 89px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .frame-493 .frame-489 {
    background: url('../../assets/img/images/Frame489.jpeg');
    margin-right: 35px;
    width: 288px;
    height: 436px;
  }
  .frame-493 .vaani-helped-me-find-new-possibilities-for-my-business-1 {
    margin-bottom: 0px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    color: #FFFFFF;
  }
  .frame-493 .vector-155 {
    margin-bottom: 4px;
    align-self: flex-start;
    width: 25px;
    height: 25px;
  }
  .frame-493 .majnu-gayen-1 {
    margin-bottom: 4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .years-old-1 {
    margin-bottom: 4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .shop-owner-in-mayanagar-1 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .frame-791 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .frame-4901 {
    margin: 73px 52.5px 89px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .frame-493 .frame-491 {
    background: url('../../assets/img/images/Frame491.png');
    width: 288px;
    height: 436px;
  }
  .frame-493 .frame-486 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .vaani-helped-me-find-new-possibilities-for-my-business-2 {
    margin-bottom: 0px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    color: #FFFFFF;
  }
  .frame-493 .vector-156 {
    margin-bottom: 4px;
    align-self: flex-start;
    width: 25px;
    height: 25px;
  }
  .frame-493 .majnu-gayen-2 {
    margin-bottom: 4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .years-old-2 {
    margin-bottom: 4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .shop-owner-in-mayanagar-2 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .frame-792 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .frame-4871 {
    margin: 73px 52.5px 89px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .frame-493 .frame-4881 {
    background: url('../../assets/img/images/Frame488.jpeg');
    margin-right: 35px;
    width: 288px;
    height: 436px;
  }
  .frame-493 .vaani-helped-me-find-new-possibilities-for-my-business-3 {
    margin-bottom: 0px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    color: #FFFFFF;
  }
  .frame-493 .vector-157 {
    margin-bottom: 4px;
    align-self: flex-start;
    width: 25px;
    height: 25px;
  }
  .frame-493 .majnu-gayen-3 {
    margin-bottom: 4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .years-old-3 {
    margin-bottom: 4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .shop-owner-in-mayanagar-3 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .frame-793 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .frame-4891 {
    margin: 73px 52.5px 89px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .frame-493 .frame-4872 {
    background: url('../../assets/img/images/Frame487.jpeg');
    margin-right: 35px;
    width: 288px;
    height: 436px;
  }
  .frame-493 .vaani-helped-me-find-new-possibilities-for-my-business-4 {
    margin-bottom: 0px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    color: #FFFFFF;
  }
  .frame-493 .vector-158 {
    margin-bottom: 4px;
    align-self: flex-start;
    width: 25px;
    height: 25px;
  }
  .frame-493 .majnu-gayen-4 {
    margin-bottom: 4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .years-old-4 {
    margin-bottom: 4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .shop-owner-in-mayanagar-4 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .frame-794 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .frame-4911 {
    margin: 73px 0 89px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .frame-493 .frame-487 {
    margin: 0 52.5px 0 35px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .frame-492 {
    background: linear-gradient(111.23deg, #864EFD 9.2%, #2744A0 89.7%);
    margin-bottom: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .upcoming-events {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 32px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .vector-160 {
    margin-bottom: 0.7px;
    align-self: flex-start;
    width: 9.3px;
    height: 9.3px;
  }
  .frame-493 .vector-159 {
    margin-left: 0.2px;
    width: 282.3px;
    height: 12px;
  }
  .frame-493 .group-2376562 {
    display: flex;
    flex-direction: column;
    width: 282.5px;
    height: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .frame-1101 {
    position: absolute;
    left: 50%;
    bottom: 0px;
    translate: -50% 0;
    display: flex;
    width: 282.5px;
    box-sizing: border-box;
  }
  .frame-493 .frame-94 {
    position: relative;
    margin: 0 211px 513px 0;
    display: flex;
    padding: 0 1.7px 14px 13.5px;
    box-sizing: border-box;
  }
  .frame-493 .frame-88 {
    background: url('../../assets/img/images/Frame881.jpeg') 50% / cover no-repeat;
    width: 308px;
    height: 221px;
  }
  .frame-493 .pm-ist-online {
    margin-bottom: 4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 14px;
    color: var(--gray-5, #232323);
  }
  .frame-493 .better-business-with-veena-paralikar {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--gray-5, #232323);
  }
  .frame-493 .frame-911 {
    margin: 0 16.4px 8px 0;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .vector-161 {
    margin-bottom: 8px;
    width: 282.3px;
    height: 12px;
  }
  .frame-493 .lorem-ipsum-dolor-sit-amet-consectetur-odio-risus-turpis-diam-risus-commodo-urna-magnis-enim-sed-dolor-ullamcorper-est-nibh-nisl-pulvinar-tortor-egestas-id-lorem-ipsum-dolor-sit-amet-consectetur-odio-risus-turpis-diam-risus-commodo-urna-magnis-enim-sed-dolor-ullamcorper-est-nibh-nisl-pulvinar-tortor-egestas-id-3 {
    margin-right: 14.9px;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-5, #232323);
  }
  .frame-493 .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .frame-493 .learn-more {
    position: absolute;
    left: 0px;
    bottom: 129px;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: underline;
    color: var(--gray-5, #232323);
  }
  .frame-493 .frame-89 {
    position: absolute;
    right: 9.7px;
    bottom: -113px;
    display: flex;
    box-sizing: border-box;
  }
  .frame-493 .frame-87 {
    box-shadow: var(--shadows-light-theme-elevation-02, 0px 1px 2px 0px rgba(35, 35, 47, 0.06)), var(--shadows-light-theme-elevation-02, 0px 4px 8px 0px rgba(35, 35, 47, 0.08));
    border-radius: 4px 24px 4px 24px;
    background: #FFFFFF;
    position: relative;
    margin-right: 24px;
    display: flex;
    width: 308px;
    height: 443px;
    box-sizing: border-box;
  }
  .frame-493 .frame-882 {
    background: url('../../assets/img/images/Frame88.jpeg') 50% / cover no-repeat;
    width: 308px;
    height: 221px;
  }
  .frame-493 .pm-ist-online-1 {
    margin-bottom: 4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 14px;
    color: var(--gray-5, #232323);
  }
  .frame-493 .better-business-with-veena-paralikar-1 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--gray-5, #232323);
  }
  .frame-493 .frame-912 {
    margin: 0 16.4px 8px 0;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .vector-162 {
    margin-bottom: 8px;
    width: 282.3px;
    height: 12px;
  }
  .frame-493 .lorem-ipsum-dolor-sit-amet-consectetur-odio-risus-turpis-diam-risus-commodo-urna-magnis-enim-sed-dolor-ullamcorper-est-nibh-nisl-pulvinar-tortor-egestas-id-lorem-ipsum-dolor-sit-amet-consectetur-odio-risus-turpis-diam-risus-commodo-urna-magnis-enim-sed-dolor-ullamcorper-est-nibh-nisl-pulvinar-tortor-egestas-id-4 {
    margin-right: 14.9px;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-5, #232323);
  }
  .frame-493 .container-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .frame-493 .learn-more-1 {
    position: absolute;
    left: 0px;
    bottom: 129px;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: underline;
    color: var(--gray-5, #232323);
  }
  .frame-493 .frame-891 {
    position: absolute;
    right: 9.7px;
    bottom: -113px;
    display: flex;
    box-sizing: border-box;
  }
  .frame-493 .frame-881 {
    box-shadow: var(--shadows-light-theme-elevation-02, 0px 1px 2px 0px rgba(35, 35, 47, 0.06)), var(--shadows-light-theme-elevation-02, 0px 4px 8px 0px rgba(35, 35, 47, 0.08));
    border-radius: 4px 24px 4px 24px;
    background: #FFFFFF;
    position: relative;
    display: flex;
    width: 308px;
    height: 443px;
    box-sizing: border-box;
  }
  .frame-493 .frame-92 {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    width: 640px;
    box-sizing: border-box;
  }
  .frame-493 .vector-163 {
    width: 8px;
    height: 8px;
  }
  .frame-493 .union {
    width: 24px;
    height: 8px;
  }
  .frame-493 .vector-164 {
    width: 8px;
    height: 8px;
  }
  .frame-493 .vector-165 {
    width: 8px;
    height: 8px;
  }
  .frame-493 .frame-901 {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    width: 84px;
    box-sizing: border-box;
  }
  .frame-493 .frame-93 {
    margin-top: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    height: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .frame-65 {
    margin: 0 160px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .container-5 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 2056px;
    height: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .our-success-story {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 32px;
    line-height: 1.05;
    color: #000000;
  }
  .frame-493 .vector-146 {
    margin-bottom: 0.7px;
    align-self: flex-start;
    width: 9.3px;
    height: 9.3px;
  }
  .frame-493 .vector-145 {
    margin-left: 0.2px;
    width: 282.3px;
    height: 12px;
  }
  .frame-493 .group-2376561 {
    display: flex;
    flex-direction: column;
    width: 282.5px;
    height: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .frame-110 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    width: 282.5px;
    box-sizing: border-box;
  }
  .frame-493 .frame-109 {
    position: absolute;
    top: 1996px;
    right: 491.5px;
    display: flex;
    padding: 0 0 14px 13.5px;
    box-sizing: border-box;
  }
  .frame-493 .getty-images-6369637881 {
    border-radius: 2px 24px 2px 24px;
    background: url('../../assets/img/images/GettyImages6369637881.jpeg') 50% / cover no-repeat;
    position: absolute;
    left: 160px;
    top: 1996px;
    width: 474px;
    height: 339px;
  }
  .frame-493 .month-title-1 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 24px;
    color: var(--gray-5, #232323);
  }
  .frame-493 .month-title {
    margin-bottom: 8px;
    display: flex;
    align-self: flex-start;
    box-sizing: border-box;
  }
  .frame-493 .month-description-text-maybe-theres-aneed-to-include-some-key-events-here-above-the-dates {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 19px;
    color: var(--gray-3, #7A7A7A);
  }
  .frame-493 .month-description-text {
    margin-bottom: 26.8px;
    display: flex;
    align-self: flex-start;
    box-sizing: border-box;
  }
  .frame-493 .day {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 14.9px;
    color: #000000;
  }
  .frame-493 .component-2 {
    display: flex;
    box-sizing: border-box;
  }
  .frame-493 .day-1 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 14.9px;
    color: #000000;
  }
  .frame-493 .component-3 {
    display: flex;
    box-sizing: border-box;
  }
  .frame-493 .day-2 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 14.9px;
    color: #000000;
  }
  .frame-493 .component-4 {
    display: flex;
    box-sizing: border-box;
  }
  .frame-493 .day-3 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 14.9px;
    color: #000000;
  }
  .frame-493 .component-5 {
    display: flex;
    box-sizing: border-box;
  }
  .frame-493 .day-4 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 14.9px;
    color: #000000;
  }
  .frame-493 .component-6 {
    display: flex;
    box-sizing: border-box;
  }
  .frame-493 .day-5 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 14.9px;
    color: #000000;
  }
  .frame-493 .component-7 {
    display: flex;
    box-sizing: border-box;
  }
  .frame-493 .day-6 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 14.9px;
    color: #000000;
  }
  .frame-493 .component-8 {
    display: flex;
    box-sizing: border-box;
  }
  .frame-493 .days-of-the-week-header {
    margin: 0 11.3px 26.8px 8.7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 380.1px;
    box-sizing: border-box;
  }
  .frame-493 .day-types {
    border: 1px solid #DFDFDF;
    background: #E6E6E6;
    width: 40px;
    height: 40px;
  }
  .frame-493 .day-types-1 {
    border: 1px solid #DFDFDF;
    background: #E6E6E6;
    width: 40px;
    height: 40px;
  }
  .frame-493 .day-types-2 {
    border: 1px solid #DFDFDF;
    background: #E6E6E6;
    width: 40px;
    height: 40px;
  }
  .frame-493 .container-5 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .day-types-3 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 15.6px;
    box-sizing: border-box;
  }
  .frame-493 .container-6 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .day-types-4 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 15.6px;
    box-sizing: border-box;
  }
  .frame-493 .wk {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 12px;
    color: var(--white, #FFFFFF);
  }
  .frame-493 .weekend {
    border: 1px solid #FFCDCF;
    background: #FFCDCF;
    display: flex;
    padding: 11px 15.6px;
    box-sizing: border-box;
  }
  .frame-493 .wk-1 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 12px;
    color: var(--white, #FFFFFF);
  }
  .frame-493 .weekend-1 {
    border: 1px solid #FFCDCF;
    background: #FFCDCF;
    display: flex;
    padding: 11px 15.6px;
    box-sizing: border-box;
  }
  .frame-493 .week-row-variants-for-monday-week-start {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .container-7 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .date-default {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 15.6px;
    box-sizing: border-box;
  }
  .frame-493 .container-8 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .date-default-1 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 15.6px;
    box-sizing: border-box;
  }
  .frame-493 .container-9 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .date-default-2 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 15.6px;
    box-sizing: border-box;
  }
  .frame-493 .container-10 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .date-default-3 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 15.6px;
    box-sizing: border-box;
  }
  .frame-493 .container-11 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .day-types-5 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 15.6px;
    box-sizing: border-box;
  }
  .frame-493 .wk-2 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 12px;
    color: var(--white, #FFFFFF);
  }
  .frame-493 .weekend-2 {
    border: 1px solid #FFCDCF;
    background: #FFCDCF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .wk-3 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 12px;
    color: var(--white, #FFFFFF);
  }
  .frame-493 .weekend-3 {
    border: 1px solid #FFCDCF;
    background: #FFCDCF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .week-row-variants-for-monday-week-start-1 {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .container-12 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .day-types-6 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .container-13 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .day-types-7 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .container-14 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .day-types-8 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .container-15 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .day-types-9 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .container-16 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .date-default-4 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .wk-4 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 12px;
    color: var(--white, #FFFFFF);
  }
  .frame-493 .weekend-4 {
    border: 1px solid #FFCDCF;
    background: #FFCDCF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .wk-5 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 12px;
    color: var(--white, #FFFFFF);
  }
  .frame-493 .weekend-5 {
    border: 1px solid #FFCDCF;
    background: #FFCDCF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .week-row-variants-for-monday-week-start-2 {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .container-17 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .day-types-10 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .container-18 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .day-types-11 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .container-19 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .day-types-12 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .container-20 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .day-types-13 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .container-21 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .date-default-5 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .wk-6 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 12px;
    color: var(--white, #FFFFFF);
  }
  .frame-493 .weekend-6 {
    border: 1px solid #FFCDCF;
    background: #FFCDCF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .wk-7 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 12px;
    color: var(--white, #FFFFFF);
  }
  .frame-493 .weekend-7 {
    border: 1px solid #FFCDCF;
    background: #FFCDCF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .week-row-variants-for-monday-week-start-3 {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .container-22 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .day-types-14 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .container-23 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .day-types-15 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .container-24 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .day-types-16 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .container-25 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .day-types-17 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .container-26 {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
  }
  .frame-493 .date-default-6 {
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 11px 12.1px;
    box-sizing: border-box;
  }
  .frame-493 .weekend-8 {
    border: 1px solid #FFCDCF;
    background: #FFCDCF;
    width: 40px;
    height: 40px;
  }
  .frame-493 .day-types-18 {
    border: 1px solid #FFCDCF;
    background: #FFCDCF;
    width: 40px;
    height: 40px;
  }
  .frame-493 .week-row-variants-for-monday-week-start-4 {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .faux-variant {
    box-shadow: var(--shadows-light-theme-elevation-02, 0px 1px 2px 0px rgba(35, 35, 47, 0.06)), var(--shadows-light-theme-elevation-02, 0px 4px 8px 0px rgba(35, 35, 47, 0.08));
    border-radius: 4px 24px 4px 24px;
    background: #FFFFFF;
    position: absolute;
    left: 160px;
    bottom: 365.3px;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    box-sizing: border-box;
  }
  .frame-493 .stay-in-touch {
    margin-bottom: 15px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .enter-email {
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.1px;
    line-height: 1.05;
    color: #FFFFFF;
  }
  .frame-493 .frame-54 {
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    padding: 7px 15px;
    box-sizing: border-box;
  }
  .frame-493 .get-updates {
    margin: 5.5px 10.9px 5.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.1px;
    line-height: 1.05;
    color: #2744A0;
  }
  .frame-493 .arrow-right-alt {
    width: 24px;
    height: 24px;
  }
  .frame-493 .frame-25 {
    border-radius: 48px;
    background: #FFFFFF;
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    padding: 4px 16px;
    box-sizing: border-box;
  }
  .frame-493 .frame-341 {
    position: relative;
    align-self: flex-start;
    padding: 1.5px 0;
    width: fit-content;
    box-sizing: border-box;
  }
  .frame-493 .frame-104 {
    background: #2744A0;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    padding: 35px 0 70px 75px;
    box-sizing: border-box;
  }
  .frame-493 .ellipse-211 {
    border-radius: 8px;
    background: #C12F33;
    width: 16px;
    height: 16px;
  }
  .frame-493 .frame-941 {
    border-radius: 4px;
    background: #D6E0FF;
    position: absolute;
    top: 94px;
    right: 13px;
    display: flex;
    width: 8px;
    height: 733px;
    box-sizing: border-box;
  }
  .frame-493 .frame-483 {
    background: #FFFFFF;
    position: relative;
    display: flex;
    padding: 68px 0 377px 0;
    width: 1440px;
    box-sizing: border-box;
  }
  .frame-493 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    box-sizing: border-box;
  }
  